<div class="max-w-md mx-auto mt-10">
  <h1 class="text-2xl font-bold mb-5 text-center">Create Budget</h1>

  <%= form_with model: @budget, local: true, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" do |form| %>

    <% if @budget.errors.any? %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4">
        <strong class="font-bold">Oops!</strong>
        <span class="block sm:inline">There were some problems with your input:</span>
        <ul class="mt-2 list-disc list-inside text-sm text-red-600">
          <% @budget.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mb-4">
      <%= form.label :amount, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.number_field :amount, step: :any, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :category_id, "Category", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.collection_select :category_id, @categories, :id, :name, prompt: "Select Category", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="mb-4">
      <%= form.label :budget_month, "Budget Month", class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.select :budget_month, options_for_select((0..11).map { |i| [(Time.now + i.months).strftime("%B %Y"), (Time.now + i.months).strftime("%Y-%m-%d")]}), prompt: "Select Month", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>

    <div class="flex items-center justify-between">
      <%= form.submit "Create Budget", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>

  <% end %>
</div>
