<% type = transaction.transaction_type.to_sym %>
<%= form_with model: transaction.becomes(Transaction), class: form_card_classes do |form| %>
  <%= render "application/form_errors", object: transaction %>

  <div>
    <%= form.label :amount, class: form_label_classes %>
    <%= form.number_field :amount, step: :any, class: "#{form_control_classes} tabular-nums" %>
  </div>

  <% unless transaction.persisted? %>
    <fieldset class="min-w-0 border-0 p-0">
      <legend class="<%= form_label_classes %> px-0">Transaction type</legend>
      <div class="mt-3 flex flex-wrap gap-x-6 gap-y-3" data-controller="transaction-type">
        <% [
          %w[expense Expense],
          %w[income Income],
          %w[transfer Transfer]
        ].each do |value, label| %>
          <label class="inline-flex cursor-pointer items-center gap-2">
            <%= form.radio_button :transaction_type, value, checked: (transaction.transaction_type == value), data: { action: 'transaction-type#change', type_value: value }, class: form_radio_classes %>
            <span class="<%= form_radio_label_classes %>"><%= label %></span>
          </label>
        <% end %>
      </div>
    </fieldset>
  <% end %>

  <%= turbo_frame_tag "dynamic_fields", class: "block" do %>
    <% if [:expense, :transfer].include?(type) %>
      <div>
        <%= form.label :credit_account_id, "From account", class: form_label_classes %>
        <%= form.collection_select :credit_account_id, Current.user.from_accounts(type), :id, :name, { prompt: "Select from account" }, { class: form_control_classes } %>
      </div>
    <% end %>
    <% if [:income, :transfer].include?(type) %>
      <div>
        <%= form.label :debit_account_id, "To account", class: form_label_classes %>
        <%= form.collection_select :debit_account_id, Current.user.to_accounts(type), :id, :name, { prompt: "Select to account" }, { class: form_control_classes } %>
      </div>
    <% end %>
    <% if type == :expense %>
      <div>
        <%= form.label :debit_account_id, "Category", class: form_label_classes %>
        <%= form.collection_select :debit_account_id, Current.user.expense_accounts, :id, :name, { prompt: "Select category" }, { class: form_control_classes } %>
      </div>
    <% elsif type == :income %>
      <div>
        <%= form.label :credit_account_id, "Category", class: form_label_classes %>
        <%= form.collection_select :credit_account_id, Current.user.income_accounts, :id, :name, { prompt: "Select category" }, { class: form_control_classes } %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= form.label :transaction_date, "Date", class: form_label_classes %>
    <%= form.date_field :transaction_date, class: form_control_classes %>
  </div>

  <div>
    <%= form.label :description, class: form_label_classes %>
    <%= form.text_area :description, rows: 3, class: form_control_classes %>
  </div>

  <div class="<%= form_secondary_actions_classes %>">
    <%= form.submit class: form_submit_classes %>
  </div>
<% end %>
