<!DOCTYPE html>
<html>
  <head>
    <title>Expense Management</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

   <body class="bg-gray-100 h-screen antialiased leading-none">

    <header class="bg-blue-500 text-white shadow">
      <div class="container mx-auto flex justify-between items-center px-6 py-3">
        <div>
          <a href="/" class="font-bold text-lg">
            Expense Management
          </a>
        </div>
        <nav class="space-x-4 text-sm sm:text-base">
          <%= link_to 'New Transaction', new_transaction_path, class: "no-underline hover:underline"%>
          <%= link_to 'Add Account', new_account_path, class: "no-underline hover:underline"%>
          <%= link_to 'View Accounts', accounts_path, class: "no-underline hover:underline"%>
          <%= link_to 'View Transactions', transactions_path, class: "no-underline hover:underline"%>
          <%= link_to 'Create Budget', new_budget_path, class: "no-underline hover:underline"%>
          <%= link_to 'View Budgets', budgets_path, class: "no-underline hover:underline"%>
          <%= link_to 'Logout', sessions_path, data: { turbo_method: :delete}, class: "no-underline hover:underline" %>
        </nav>
      </div>
    </header>

    <main class="container mx-auto mt-10">
      <%= yield %>
    </main>
    
    <footer class="bg-blue-500 text-white text-center py-4">
      &copy; 2023 Your Company
    </footer>
  </body>
</html>
